<h1>Nouveau abonnée</h1>
<p>Nom:{{ contact.firstname }}</p>
<p>last name:{{ contact.lastname }}</p>
<p>Email: {{ contact.email }}</p>
<p>Phone: {{ contact.phone }}</p>

<p>Message:{{ contact.message | raw }}</p>