<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% block title %}
        <title>HappyTrip Agence </title>
    {% endblock %}
    <meta content="" name="description">
    <meta content="" name="keywords">

    {%block favicons %}
        <!-- Favicons -->
        <link href="{{ asset('assets/img/favicon.png') }}" rel="icon">
        <link href="{{ asset('assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
    {% endblock %}

    {% block fonts %}
        <!-- Google Fonts -->
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i') }}" rel="stylesheet">
    {% endblock %}

    {% block css %}
        <!-- Vendor CSS Files -->
        <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/aos/aos.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link data-require="fontawesome@*" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />

    {% endblock %}

    <!-- =======================================================
    * Template Name: Restaurantly - v1.2.1
    * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
{% block content %}

{% endblock %}

{% if app.user and app.user.codeGenerated is not null or not app.user%}
<body>

{% block header %}
    <header id="header" class="fixed-top" style="top:0px;">
        <div class="d-flex align-items-center" style="padding-right: 75px;">
            <div class="container" style="margin-left: 5px; display: flex!important;">
                <img src="{{ asset('assets/img/logo.png') }}" alt="">
                <h1 style="    padding-top: 29px;
    margin-bottom: 24px;letter-spacing: 0px;" class="logo mr-auto"><a href="{{ asset('home') }}" >Happy-Trip</a></h1>
            </div>

            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block" style="margin-left: -125px">
                <ul>
                    <li class="active"><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('AfficherDestinations') }}">Destinations</a></li>
                    <li><a href="{{ path('VoyageVirtuellePay') }}">VoyagesVirtuelle</a></li>
                    <li><a href="{{ path('showEvent') }}">Events</a></li>
                    <li><a href="{{ path('afficheHotel') }}">Hotels</a></li>
                    <li><a href="{{ path ('showOffer') }}">Offer</a></li>
                    <li><a href="{{path('app_report')}}">Add Report</a></li>
                    <li><a href="{{path('transport_index')}}">Transport</a></li>
                    <li><a href="{{path('restaurant_index')}}">Restaurant</a></li>
                    <li><a href="{{path('urgence_index')}}">Urgence</a></li>



                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li>
                    {% if app.user %}
                            Welcome {{ app.user.username }},
                    </li>
                    <li class="book-a-table text-center"><a href="{{ path('app_logout') }}">Logout</a></li>
                    {% else %}
                        <li class="book-a-table text-center"><a href="{{ path('app_login') }}">Login</a></li>
                        <li class="book-a-table text-center" style="padding-left: 7px;"><a href="{{ path('app_register') }}">Register</a></li>
                    {% endif %}

                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
{% endblock %}

{% block home %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">


        <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">

                    <h1>Welcome to <span>HappyTrip</span></h1>
                    <h2> Choose your destination And Enjoy your Time !</h2>

                    <div class="btns">
                        <a href="#gallery" class="btn-menu animated fadeInUp scrollto">Trip </a>
                        <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Online Trip</a>
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                    <a href="https://www.youtube.com/watch?v=OtJVufo3IrA" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
                </div>

            </div>
        </div>
    </section><!-- End Hero -->
{% endblock %}


{% block body %}
    <main id="main">
        {% block About %}
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container" data-aos="fade-up">

                    <div class="row">
                        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                            <div class="about-img">
                                <img src="{{ asset('assets/img/about.png') }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                            <h3>Happy-Trip is a new online travel agency </h3>
                            <p class="font-italic">
                                This site is created by the company named BACKSLASH-SPACE in order to simplify the life of our users, to save them time and to offer them the possibility of finding the cheapest prices for their trip. Whether you are looking for a flight, a stay, a hotel or a rental car, now just search on HAPPY-TRIP! Several thousand users trust HAPPY-TRIP every day to save time and money in the organization of their stays.                            </p>
                            <ul>
                                <li><i class="icofont-check-circled"></i> Provide the fairest range of offers possible</li>
                                <li><i class="icofont-check-circled"></i>  Offer promotions </li>
                                <li><i class="icofont-check-circled"></i> Online Trip </li>
                            </ul>
                            <p>
                                Do not miss !!!
                            </p>
                        </div>
                    </div>

                </div>
            </section><!-- End About Section -->
        {% endblock %}

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Why Us</h2>
                    <p>Why Choose Our Agence</p>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            <span>01</span>
                            <h4>Security</h4>
                            <p>No risk of scam</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="200">
                            <span>02</span>
                            <h4>Special offers</h4>
                            <p>Our agency offers the lowest prices in the tourism market</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="300">
                            <span>03</span>
                            <h4> Complaints</h4>
                            <p>The customer has the possibility of calling us easily in case of emergency </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Why Us Section -->

        {% block Menu %}
            <!-- ======= Menu Section ======= -->
            <section id="menu" class="menu section-bg">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Restaurents</h2>
                        <p>Check Our Tasty Menu</p>
                    </div>

                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="menu-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".filter-starters">Starters</li>
                                <li data-filter=".filter-salads">Salads</li>
                                <li data-filter=".filter-specialty">Specialty</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-6 menu-item filter-starters">
                            <img src="{{ asset('assets/img/menu/lobster-bisque.jpg') }}" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Lobster Bisque</a><span>$5.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Lorem, deren, trataro, filede, nerada
                            </div>
                        </div>

                        <div class="col-lg-6 menu-item filter-specialty">
                            <img src="{{ asset('assets/img/menu/bread-barrel.jpg') }}" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Bread Barrel</a><span>$6.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Lorem, deren, trataro, filede, nerada
                            </div>
                        </div>

                        <div class="col-lg-6 menu-item filter-starters">
                            <img src="{{ asset('assets/img/menu/cake.jpg') }}" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Crab Cake</a><span>$7.95</span>
                            </div>
                            <div class="menu-ingredients">
                                A delicate crab cake served on a toasted roll with lettuce and tartar sauce
                            </div>
                        </div>

                        <div class="col-lg-6 menu-item filter-salads">
                            <img src="{{ asset('assets/img/menu/caesar.jpg') }}" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Caesar Selections</a><span>$8.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Lorem, deren, trataro, filede, nerada
                            </div>
                        </div>

                        <div class="col-lg-6 menu-item filter-specialty">
                            <img src="{{ asset('assets/img/menu/tuscan-grilled.jpg') }}" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Tuscan Grilled</a><span>$9.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Grilled chicken with provolone, artichoke hearts, and roasted red pesto
                            </div>
                        </div>

                        <div class="col-lg-6 menu-item filter-starters">
                            <img src="{{ asset('assets/img/menu/mozzarella.jpg') }}" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Mozzarella Stick</a><span>$4.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Lorem, deren, trataro, filede, nerada
                            </div>
                        </div>

                        <div class="col-lg-6 menu-item filter-salads">
                            <img src="{{ asset('assets/img/menu/greek-salad.jpg') }}" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Greek Salad</a><span>$9.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Fresh spinach, crisp romaine, tomatoes, and Greek olives
                            </div>
                        </div>

                        <div class="col-lg-6 menu-item filter-salads">
                            <img src="{{ asset('assets/img/menu/spinach-salad.jpg') }}" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Spinach Salad</a><span>$9.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                            </div>
                        </div>

                        <div class="col-lg-6 menu-item filter-specialty">
                            <img src="{{ asset('assets/img/menu/lobster-roll.jpg') }}" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Lobster Roll</a><span>$12.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Menu Section -->
        {% endblock %}

        {% block specials %}
            <!-- ======= Specials Section ======= -->
            <section id="specials" class="specials">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Specials</h2>
                        <p>Check the Special food in Tunisia</p>
                    </div>

                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-3">
                            <ul class="nav nav-tabs flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">Ojja</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-2">lablebi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-3">Omik-Houria</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-4">Couscous</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-5">Bambalouni</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9 mt-4 mt-lg-0">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tab-1">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Ojja</h3>
                                            <p class="font-italic">A delicious Tunisian dish with merguez and eggs, very tasty, rich and complete. A very easy and very quick recipe to make, but very rich in taste and flavors.</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{{ asset('assets/img/specials-1.png') }}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-2">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Lablebi</h3>
                                            <p class="font-italic">The lablabi is 100% Tunisian repat made from chickpeas cooked in water. the word leblabi is of Turkish origin which means chickpea.
                                            </p>
                                            <p>Ah lablabi, yes, here is the famous recipe for this dish that every Tunisian knows and has tasted at least once in his life.</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{{ asset('assets/img/specials-2.png') }}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-3">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Ommik-Houria</h3>
                                            <p class="font-italic">An essential salad in Tunisia? Here is the Omek Houria, made with fresh and fragrant cooked carrots!</p>
                                            <p>Taste it </p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{{ asset('assets/img/specials-3.png') }}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-4">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Couscous</h3>
                                            <p class="font-italic">Tunisian couscous is one of the countless variations of this delicious dish.</p>
                                            <p>Yummmy !</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{{ asset('assets/img/specials-4.png') }}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-5">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Bambalouni </h3>
                                            <p class="font-italic">An essential Tunisian delight that is as good and economical as it is simple to make, bambalouni is a donut in the shape of a ring that can be eaten plain or sweet.
                                                .</p>
                                            <p>You need to try it !!</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{{ asset('assets/img/specials-5.png') }}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section><!-- End Specials Section -->
        {% endblock %}


        {% block event %}
            <!-- ======= Events Section ======= -->
            <section id="events" class="events">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Events</h2>
                        <p>Organize Your Events </p>
                    </div>

                    <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="100">

                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{{ asset('assets/img/event-birthday.jpg') }}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Birthday Parties</h3>
                                <div class="price">
                                    <p><span>$189</span></p>
                                </div>
                                <p class="font-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </p>
                                <ul>
                                    <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                    <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                    <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                </ul>
                                <p>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur
                                </p>
                            </div>
                        </div>

                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{{ asset('assets/img/event-private.jpg') }}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Private Parties</h3>
                                <div class="price">
                                    <p><span>$290</span></p>
                                </div>
                                <p class="font-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </p>
                                <ul>
                                    <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                    <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                    <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                </ul>
                                <p>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur
                                </p>
                            </div>
                        </div>

                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{{ asset('assets/img/event-custom.jpg') }}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Custom Parties</h3>
                                <div class="price">
                                    <p><span>$99</span></p>
                                </div>
                                <p class="font-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </p>
                                <ul>
                                    <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                    <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                    <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                </ul>
                                <p>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Events Section -->
        {% endblock %}

        {% block reservation %}
            <!-- ======= Book A Table Section ======= -->
            <section id="book-a-table" class="book-a-table">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Reservation</h2>
                        <p>Book a Table</p>
                    </div>

                    <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                        <div class="form-row">
                            <div class="col-lg-4 col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-4 col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-4 col-md-6 form-group">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-4 col-md-6 form-group">
                                <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-4 col-md-6 form-group">
                                <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-4 col-md-6 form-group">
                                <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Book a Table</button></div>
                    </form>

                </div>
            </section><!-- End Book A Table Section -->
        {% endblock %}

        {% block Section %}
            <!-- ======= Testimonials Section ======= -->
            <section id="testimonials" class="testimonials section-bg">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Team</h2>
                        <p>What they're saying about us</p>
                    </div>

                    <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Developer and designer, responsible of hotels, reservations and payments
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ asset('assets/img/testimonials/testimonials-1.jpg') }}" class="testimonial-img" alt="">
                            <h3>Myriam Miled</h3>
                            <h4>Ceo &amp; Founder</h4>
                        </div>

                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Designer of interfaces , responsible of destinations and online trips
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ asset('assets/img/testimonials/testimonials-2.jpg') }}" class="testimonial-img" alt="">
                            <h3>Mohamed Negra</h3>
                            <h4>Designer</h4>
                        </div>

                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Bundles maker , responsible of administration and users security in the agency
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ asset('assets/img/testimonials/testimonials-3.jpg') }}" class="testimonial-img" alt="">
                            <h3>Ranime ben afia </h3>
                            <h4>Store Owner</h4>
                        </div>

                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Developer , responsible of resarvations of the restaurents , maker of interfaces
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ asset('assets/img/testimonials/testimonials-4.jpg') }}" class="testimonial-img" alt="">
                            <h3>Wissem Mcharek </h3>
                            <h4>Freelancer</h4>
                        </div>

                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Manager , responsible of the events and offers that make our agency
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ asset('assets/img/testimonials/testimonials-5.jpg') }}" class="testimonial-img" alt="">
                            <h3>Chahir sghair</h3>
                            <h4>Manager</h4>
                        </div>


                    </div>

                </div>
            </section><!-- End Testimonials Section -->
        {% endblock %}


        {% block gallery %}
            <!-- ======= Gallery Section ======= -->
            <section id="gallery" class="gallery">

                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Gallery</h2>
                        <p>Some photos from The beauty of tunisia </p>
                    </div>
                </div>

                <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

                    <div class="row no-gutters">

                        <div class="col-lg-3 col-md-4">
                            <div class="gallery-item">
                                <a href="{{ asset('assets/img/gallery/hotel1.jpg') }}" class="venobox" data-gall="gallery-item">
                                    <img src="{{ asset('assets/img/gallery/hotel1.jpg') }}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="gallery-item">
                                <a href="{{ asset('assets/img/gallery/gallery-2.jpg') }}" class="venobox" data-gall="gallery-item">
                                    <img src="{{ asset('assets/img/gallery/gallery-2.jpg') }}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="gallery-item">
                                <a href="{{ asset('assets/img/gallery/gallery-3.jpg') }}" class="venobox" data-gall="gallery-item">
                                    <img src="{{ asset('assets/img/gallery/gallery-3.jpg') }}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="gallery-item">
                                <a href="{{ asset('assets/img/gallery/gallery-4.jpg') }}" class="venobox" data-gall="gallery-item">
                                    <img src="{{ asset('assets/img/gallery/gallery-4.jpg') }}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="gallery-item">
                                <a href="{{ asset('assets/img/gallery/gallery-5.jpg') }}" class="venobox" data-gall="gallery-item">
                                    <img src="{{ asset('assets/img/gallery/gallery-5.jpg') }}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="gallery-item">
                                <a href="{{ asset('assets/img/gallery/gallery-6.jpg') }}" class="venobox" data-gall="gallery-item">
                                    <img src="{{ asset('assets/img/gallery/gallery-6.jpg') }}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="gallery-item">
                                <a href="{{ asset('assets/img/gallery/gallery-7.jpg') }}" class="venobox" data-gall="gallery-item">
                                    <img src="{{ asset('assets/img/gallery/gallery-7.jpg') }}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="gallery-item">
                                <a href="{{ asset('assets/img/gallery/gallery-8.jpg') }}" class="venobox" data-gall="gallery-item">
                                    <img src="{{ asset('assets/img/gallery/gallery-8.jpg') }}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Gallery Section -->
        {% endblock %}

        {% block hotels %}
            <!-- ======= Chefs Section ======= -->
            <section id="chefs" class="chefs">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Chefs</h2>
                        <p>Our Proffesional Chefs</p>
                    </div>

                    <div class="row">

                        <div class="col-lg-4 col-md-6">
                            <div class="member" data-aos="zoom-in" data-aos-delay="100">
                                <img src="{{ asset('assets/img/chefs/chefs-1.jpg') }}" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Walter White</h4>
                                        <span>Master Chef</span>
                                    </div>
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="member" data-aos="zoom-in" data-aos-delay="200">
                                <img src="{{ asset('assets/img/chefs/chefs-2.jpg') }}" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Sarah Jhonson</h4>
                                        <span>Patissier</span>
                                    </div>
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="member" data-aos="zoom-in" data-aos-delay="300">
                                <img src="{{ asset('assets/img/chefs/chefs-3.jpg') }}" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>William Anderson</h4>
                                        <span>Cook</span>
                                    </div>
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Chefs Section -->
        {% endblock %}



        {% block joinUs %}
            <!-- ======= joinUs Section ======= -->
            <section id="joinUs" class="joinUs">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>JoinUs</h2>
                        <p>Nous rejoindre</p>
                    </div>
                </div>

                <div data-aos="fade-up">
                    <iframe style="border:0; width: 100%; height: 350px;" src="{{ asset('https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621') }}" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="container" data-aos="fade-up">

                    <div class="row mt-5">

                        <div class="col-lg-4">
                            <div class="info">
                                <div class="address">
                                    <i class="icofont-google-map"></i>
                                    <h4>Location:</h4>
                                    <p>Ariana Essoughra</p>
                                </div>

                                <div class="open-hours">
                                    <i class="icofont-clock-time icofont-rotate-90"></i>
                                    <h4>Open Hours:</h4>
                                    <p>
                                        Monday-Saturday:<br>
                                        11:00 AM - 2300 PM
                                    </p>
                                </div>

                                <div class="email">
                                    <i class="icofont-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>info@example.com</p>
                                </div>

                                <div class="phone">
                                    <i class="icofont-phone"></i>
                                    <h4>Call:</h4>
                                    <p>+216 56467677</p>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-8 mt-5 mt-lg-0">

                            <form action="forms/joinus.php" method="post" role="form" class="php-email-form">
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validate"></div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="Prenom" id="prenom" placeholder="Your Prenom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validate"></div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <input type="number" name="age"  id="age" placeholder="Your Age" data-rule="minlen:4" data-msg="Please enter your age" />
                                        <div class="validate"></div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="number" name="numtel" id="numtel" placeholder="Your phone number" data-rule="minlen:4" data-msg="Please enter your phone number" />
                                        <div class="validate"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="localisation" id="localisation" placeholder="localisation" data-rule="minlen:4" data-msg="Please enter your place" />
                                    <div class="validate"></div>
                                </div>

                                <div class="mb-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>
                                <div class="text-center"><button type="submit">Send Message</button></div>
                            </form>

                        </div>

                    </div>

                </div>
            </section><!-- End Reclamation Section -->
        {% endblock %}
    </main><!-- End #main -->
{% endblock %}

{% block footer %}
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Happy-Trip</h3>
                            <p>
                                Ariana Essoughra, Raoued, Ariana<br>
                                NY 2081 , TN<br><br>
                                <strong>Phone:</strong> +216 56467677<br>
                                <strong>Email:</strong> HappyTrip@example.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Happy-Trip</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->
{% endblock %}

<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
{% block js %}
    <!-- Vendor JS Files -->
    <script src="{{ asset('assets/vendor/jquery/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ asset('assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/venobox/venobox.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
    <!-- Template Main JS File -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
</body>
{%endif%}
{%if app.user and app.user.codeGenerated is null%}
    <header id="header" class="fixed-top" style="top:0px;">
        <div class="d-flex align-items-center" style="padding-right: 75px;">
            <div class="container" style="margin-left: 5px; display: flex!important;">
                <img src="{{ asset('assets/img/logo.png') }}" alt="">
                <h1 style="    padding-top: 29px;
    margin-bottom: 24px;letter-spacing: 0px;" class="logo mr-auto"><a href="{{ asset('home') }}" >Happy-Trip</a></h1>
            </div>

            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block" style="margin-left: -125px">
                <ul>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li>
                    {% if app.user %}
                            Welcome {{ app.user.username }},
                            {% if app.user.codeGenerated is null %}
                            (Account Not Verified)
                            {%endif%}
                    </li>
                    <li class="book-a-table text-center"><a href="{{ path('app_logout') }}">Logout</a></li>
                    {% else %}
                        <li class="book-a-table text-center"><a href="{{ path('app_login') }}">Login</a></li>
                        <li class="book-a-table text-center" style="padding-left: 7px;"><a href="{{ path('app_register') }}">Register</a></li>
                    {% endif %}

                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    <!-- Vendor JS Files -->
    <script src="{{ asset('assets/vendor/jquery/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ asset('assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/venobox/venobox.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
    <!-- Template Main JS File -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
        <div class="row" align="center">
            <div class="col-lg-8">
                <h1 style="margin-left: 390px; margin-top: 55px">Check your email to verify your account</h1>
            </div>
        </div>
   </div>
</section>
{%endif%}


</html>
