{% extends 'base2.html.twig' %}
{% block home %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
            <h1>Gérer les destinations </h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <table class="table table-striped">
                <thead>
                <tr style="color: wheat">
                    <th >Nom</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                {% for destination in destinations %}
                    <tr>
                        <td style="color: white">{{ destination.nomDes }}</td>
                        <td ><a href="{{ path('admin.destination.edit' , {id: destination.id }) }}" >Editer</a>
                            <form
                                    method="post"
                                    action="{{ path('admin.destination.delete' , {id: destination.id }) }}"
                                    style="display: inline-block"
                                    onsubmit="return confirm('Etes vous sur ?')"
                            >
                                <input type="hidden" name="_method" value="DELETE" >
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="text-right">
                <a href="{{ path('admin.destination.new') }}" class="btn btn-primary">Creer une nouvelle destination</a>

            </div>
        </div>

        </div>
        </div>
        </div>
    </section><!-- End Hero -->
{% endblock %}
{% block body %}



{% endblock %}